body {
	padding: 0;
	margin: 0;
	font-size: min(4vh, 4vw);
	text-align: left;
}

.body {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
}

.header {
	background-color: #46465A;
	color: #FFF;
	margin-bottom: 3%;
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 7vw;
	padding-right: 7vw;
}

@media (min-width: 600px) {
.header {
	padding-left: 23vw;
	padding-right: 23vw;
}
}

h3, h4, h5 {
	padding-top: 0vh;
	margin: 0;
}

img {
  max-width: 100%;
  display: block;
}


